.add-new-department {
    padding: 12px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.add-new-department .btn-addnew {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
}

.add-new-department .btn-addnew:hover {
    background-color: #0e70f1;
}

.department-table {
    margin: 0 auto;
    max-width: 1000px;
    background: #FFF;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Style for pop-up form */

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9999;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.box {
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #3e8e41;
}


button[type="button"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #d32f2f;
}